main {
  width: 800px;
  /* if we want to set the page dimensions more */
  /* margin: 200 px auto 72px auto */
  margin: auto;
  padding: 26px;
  background-color: rgb(219, 108, 94);
  border: 5px solid rgb(44, 44, 44);
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 1);
}
/* this whole is written in style element in html in head */
h1 {
  /* border will be add around the text to highlight */
  /* border: 12px solid blue; */
  /* with the padding feature text get more space */
  color: rgb(31, 25, 25);
  font-size: 30px;
  padding: 12px;
  font-family: "Oswald", sans-serif;
  text-align: center;
}
p {
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
/* anchor elements styling  */
a {
  padding: 12px;
  color: rgb(167, 1, 78);
  /* the below is used to remove the underline from the link */
  text-decoration: none;
}
/* when mouse pointer hovers it then only show underline */
a:hover {
  padding: 12px;
  text-decoration: underline;
}
#todays-challenge {
  padding: 12px;
  color: rgb(75, 59, 59);
  font-weight: bold;
  font-size: 52px;
}
img {
  /* if we increase the width and height then photo spreads on whole page*/
  width: 200px;
  height: 200px;
  /* border radius gives rounded borders around the line */
  border-radius: 100px;
  border: 5px solid rgb(44, 44, 44);
  /* if we gave -ve margin then the image along with the text will move upwards as it will cover the padding area also */
  margin-top: -80px;
  /* text-align: will not have an effect as image has no content; */
  /* so to set image in the middle we will make changes in the body */
}

body {
  background-color: rgb(233, 215, 207);
  padding: 12px;
  /* to set the image in the middle and set page margin so we will get the better page */
  text-align: center;
  /* margin add the spaces between the linew or elements */
  margin: 50px;
  color: rgb(83, 75, 75);
}
ol {
  padding: 12px;
  /* list syle means points are in the square form or rectangular form etc. */
  /* we can short the text usign margin but then there will be the problem of the alignment so we will use top bottom left right */
  margin: 50px auto 0 auto;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
ul {
  padding: 12px;
  /* list syle means points are in the square form or rectangular form etc. */
  list-style: square;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
}
li {
  text-align: center;
}
