body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(244, 234, 255);
  color: black;
}

h1 {
  /* font family will be inherited from the font family of the body  */
  color: black;
}
/* to set the heading of the page */
header {
  text-align: center;
  padding: 32px;
}
/* to set the image which is present inside the header tag */
header img {
  width: 250px;
}

main {
  background-color: rgb(122, 74, 218);
  padding: 32px;
  width: 700px;
  /*we can't center the element here with text-align center because the main element here is not inline element so if we would add text-align: center first set the width and then set the margin to auto which will automatically set the body in the center */
  margin: auto;
  /* to set the rounded corners */
  border-radius: 8px;
  color: rgb(248, 241, 255);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  /* 14px top and bottom and 0 to the left and right margin */
  margin: 14px 0;
  padding-left: 10px;
  border-left: 5px solid transparent;
}
a {
  text-decoration: none;
  color: rgb(36, 3, 102);
  background-color: rgb(255, 237, 177);
  /* we can use padding as inline elements uses box model */
  padding: 2px 6px;
  border-radius: 2px;
}
a:hover {
  text-decoration: underline;
}
/* it is used if we want to take the link from one place to another then this link is used */
a:active {
  background-color: rgb(250, 201, 39);
}
footer a {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: rgb(250, 201, 39);
}
footer a:active {
  background-color: rgb(255, 186, 58);
}
/* to highlight some of the important lines */
.extra-important {
  color: rgb(255, 237, 177);
  border-left: 5px solid rgb(247, 209, 85);
}

.highlight {
  font-weight: bold;
}
