body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: rgb(44, 41, 38);
  text-align: center;
}
h1 {
  background-color: rgb(228, 157, 44);
  text-align: center;
  color: white;
  border-radius: 4px;
  padding: 8px 24px;
}
h3 {
  text-align: center;
  text-decoration: solid;
}
a {
  text-decoration: none;
  text-align: center;
}
.food-item {
  background-color: rgb(228, 206, 182);
  border-radius: 6px;
  overflow: hidden;
}
.food-item img {
  height: 240px;
  width: 100%;
  object-fit: cover;
}
.food-item-content {
  padding: 16px;
  text-align: center;
}
.btn {
  text-align: center;
  background-color: rgb(228, 157, 44);
  color: white;
  border-radius: 4px;
  padding: 8px 24px;
}
.btn:hover {
  background-color: rgb(221, 134, 34);
}
/* The object-fit property is used to specify how an <img> or <video> should be resized to fit its container. */
#main-header {
  text-align: center;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(29, 26, 24);
  padding: 0 20px;
}
#logo {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: rgb(238, 164, 80);
  text-transform: uppercase;
}

#main-header ul {
  text-align: center;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#main-header li {
  text-align: center;
  margin: 0 16px;
}
#main-header nav a {
  text-align: center;
  color: rgb(185, 131, 31);
  font-size: 20px;
}

#main-header nav a:hover {
  text-align: center;
  color: rgb(228, 163, 44);
}
main h1 {
  text-align: center;
  color: rgb(238, 164, 80);
  font-size: 48px;
}
