#hero {
  height: 800px;
  background-image: url("ocean.jpg");
  background-position: center;
  background-size: cover;
}

#hero-content {
  width: 900px;
  /* a is here for the opacity in the text*/
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  /* box sizing: border box then content and padding get involved in single and extra space will not be left on the page*/
  /* box sizing: content box then padding area is not left so extra space will be left on the page  */
  border-radius: 8px;
  /* make the text in the center inside the box */
  text-align: center;
  /* padding in the box to make the content in the box at center */
  padding: 50px 0;
  /* take the box in the center with the help of the margin */
  margin: 0 auto;
  /* to move the hero content down we are adding the below attributes to move the content in the center*/
  /* if we uses position: absolute then it will take the content out of the box */
  position: relative;
  top: 200px;
  /* if we use top : -200px then the content will move in the upward direction */
}

#hero-content h1 {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  /* h1 gets the margin automatically when we set the font of the head so to remove that margin made it equal to the zero */
  margin: 0;
}

#hero-content a {
  text-decoration: none;
  background-color: rgb(255, 251, 0);
  padding: 12px 24px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
}
#hero-content a:hover {
  background-color: rgb(255, 251, 0);
}
/* #destinations {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
}
.destination {
  margin: 0 20px;
  text-transform: uppercase
} */
#highlights {
  padding: 24px;
  background: linear-gradient(45deg, rgb(45, 221, 209), rgb(65, 204, 197));
  background-color: rgb(227, 255, 253);
}
#highlights h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  color: rgb(59, 65, 64);
  margin: 24px 0;
}
.destination p {
  text-align: center;
  font-size: 24px;
  color: rgb(124, 123, 123);
  margin: 20px 0;
}
.destinations img {
  height: 200px;
  width: 100px;
  /* to position the elments next to each other we uses flex box */
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 10px;
  object-fit: cover;
}
.destination strong {
  color: rgb(0, 160, 117);
}
